body {
  background: rgb(245, 245, 245);
  background: linear-gradient(90deg, rgba(245, 245, 245, 1) 0%, rgba(65, 17, 75, 1) 0%, rgba(156, 79, 173, 1) 100%);
  margin: 0;
  padding: 0;
}

.container {
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
